{{#if isWaitingForSMSNumber}}
  <div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="field is-grouped is-grouped-centered">
        <div class="control has-icons-left">
          {{input
            type="tel"
            value=smsNumber
            class="input is-medium"
            placeholder="SMS Number"}}

          <span class="icon is-medium is-left">
            <i class="fa fa-mobile"></i>
          </span>
        </div>
      </div>

      <div class="field is-grouped is-grouped-centered">
        <div class="control">
          <button
             class="button is-medium is-success {{if isLoading 'is-loading'}}"
             {{action "requestCode"}}
             disabled={{isLoading}}>
            Request Code
          </button>
        </div>
      </div>
      <div class="field is-grouped is-grouped-centered">
        <div class="control">
          <button
            class="button is-small is-success"
            {{action "cancel"}}>
            Cancel
          </button>
        </div>
      </div>
    </div>
    <button
      class="modal-close is-large"
      aria-label="close"
      {{action "cancel"}}>
    </button>
  </div>
{{else if isWaitingForVerificationCode}}
  <div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="field is-grouped is-grouped-centered">
        <div class="control has-icons-left">
          {{input
            type="tel"
            value=verificationCode
            class="input is-medium"
            placeholder="Verification Code"}}

          <span class="icon is-medium is-left">
            <i class="fa fa-lock"></i>
          </span>
        </div>
      </div>

      <div class="field is-grouped is-grouped-centered">
        <div class="control">
          <button
            class="button is-medium is-success {{if isLoading 'is-loading'}}"
            {{action "verifyCode"}}
            disabled={{isLoading}}>
            Verify
          </button>
        </div>
      </div>

      {{#unless isLoading}}
        <div class="field is-grouped is-grouped-centered">
          <div class="control">
            <button
              class="button is-small is-success"
              {{action "requestCode"}}>
              Re-send
            </button>
          </div>

          <div class="control">
            <button
              class="button is-small is-success"
              {{action "cancel"}}>
              Cancel
            </button>
          </div>
        </div>
      {{/unless}}
    </div>
    <button
      class="modal-close is-large"
      aria-label="close"
      {{action "cancel"}}>
    </button>
  </div>
{{/if}}
