<div class="panel has-text-left">
  {{#if subscription.feed}}
    <div class="panel-block is-active">
      <a class="panel-icon" {{action 'clearFeed'}}>
        <i class="fa fa-times-circle" aria-hidden="true"></i>
      </a>
      {{subscription.feed.name}}
    </div>
  {{else}}
    <div class="panel-block">
      <div class="control">
        {{input
          class="input is-medium"
          placeholder="Search for your gym's workout feed"
          key-up=(action 'search')}}
      </div>
    </div>

    {{#if results}}
      {{#each results as |feed|}}
        <a class="panel-block" {{action 'pickFeed' feed}}>
          {{feed.name}}
        </a>
      {{/each}}
    {{else}}
      {{#if query}}
        <span class="panel-block">
          {{#if isLoading}}
            Loading...
          {{else}}
            No results
          {{/if}}
        </span>
      {{/if}}
    {{/if}}
  {{/if}}
</div>
&nbsp;
