{{#if subscription.feed}}
  <div class="panel has-text-left">
    <div class="panel-block is-active">
      <a class="panel-icon" {{action 'clearFeed'}}>
        <i class="fa fa-times-circle" aria-hidden="true"></i>
      </a>
      {{subscription.feed.name}}
    </div>
  </div>
{{else}}
  <div class="panel has-text-left">
    <div class="panel-block">
      <div class="control">
        {{input
        class="input is-medium"
        placeholder="Search for your gym's workout feed"
        key-up=(action 'search')}}
      </div>
    </div>

    {{#if results}}
      {{#each results as |feed|}}
        <a class="panel-block" {{action 'pickFeed' feed}}>
          {{feed.name}}
        </a>
      {{/each}}
    {{else}}
      {{#if query}}
        <span class="panel-block content">
          {{#if isLoading}}
            Loading...
          {{else}}
            No results for "{{query}}".
          {{/if}}
        </span>
      {{/if}}
    {{/if}}
  </div>

  <div class="content">
    <p>
    Search for your gym's feed, or
    {{#link-to "feeds.new"}}add a gym{{/link-to}}.
    </p>
  </div>
{{/if}}
&nbsp;
