<article class="message">
  <div class="message-body">
    <div class="field">
      <div class="control">
        <label class="checkbox">
          {{input type="checkbox" checked=subscription.includeFeedName}}
          Include feed name
        </label>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <label class="checkbox">
          {{input type="checkbox" checked=subscription.includeTitle}}
          Include title
        </label>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <label class="checkbox">
          {{input type="checkbox" checked=subscription.shortenCommonTerms}}
          Shorten common terms
        </label>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <label class="checkbox">
          {{input type="checkbox" checked=subscription.includeLink}}
          Include link
        </label>
      </div>
    </div>

    {{#if showAdvancedOptions}}
      <div class="field">
        <label class="is-hidden-touch">
          Limit to {{pluralize messageLimit "text message"}}
        </label>

        <div class="control level is-mobile">
          <button {{action "incrementCharacterLimit" -160}} class="button is-small is-link level-item">
            Shorter
          </button>

          <div class="level-item">
            <div class="is-hidden-desktop">
              {{pluralize messageLimit "text message"}}
            </div>

            <div class="is-hidden-touch">
              {{input
                type="range"
                min="160"
                max="1600"
                step="160"
                value=subscription.characterLimit}}
            </div>
          </div>

          <button {{action "incrementCharacterLimit" 160}} class="button is-small is-link level-item">
            Longer
          </button>

          <button {{action "incrementCharacterLimit" 1600}} class="button is-small is-link level-item">
            Max
          </button>
        </div>
      </div>
    {{else}}
      <small>
        <a {{action "toggleAdvancedOptions"}}>
          Show more options
        </a>
      </small>
    {{/if}}
  </div>
</article>
