<article class="message">
  <div class="message-body">
    <div class="field">
      <div class="control">
        <label class="checkbox">
          {{input type="checkbox" checked=subscription.includeFeedName}}
          Include feed name
        </label>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <label class="checkbox">
          {{input type="checkbox" checked=subscription.includeTitle}}
          Include title
        </label>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <label class="checkbox">
          {{input type="checkbox" checked=subscription.shortenCommonTerms}}
          Shorten common terms
        </label>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <label class="checkbox">
          {{input type="checkbox" checked=subscription.includeLink}}
          Include link
        </label>
      </div>
    </div>

    <div class="field">
      <label>
        Limit to  {{pluralize messageLimit "text message"}}
      </label>

      <div class="control level is-mobile">
        <button {{action "incrementCharacterLimit" -160}} class="button is-small level-item">
          Shorter
        </button>

        {{input
          type="range"
          min="160"
          max="1600"
          step="160"
          value=subscription.characterLimit
          class="level-item"}}

        <button {{action "incrementCharacterLimit" 160}} class="button is-small level-item">
          Longer
        </button>
      </div>
    </div>
  </div>
</article>
