<div class="columns">
  <div class="column">
    <h3 class="subtitle">Get texts when your gym posts a new workout</h3>
  </div>
</div>

<div class="columns">
  <div class="column">
    {{feed-search subscription=model}}

    {{#if feedPicked}}
      {{#if isShowingOptions}}
        <h5 class="is-size-5">
          Customize Message
          <small><a {{action "toggleOptions"}}>Hide</a></small>
        </h5>
        {{subscription-options subscription=model}}
      {{else}}
        Here's a preview of what the last workout message looked like.
        You can <a {{action "toggleOptions"}}>customize the message</a>, or leave it as-is.
      {{/if}}
    {{/if}}
  </div>

  {{#if feedPicked}}
    <div class="column">
      {{sms-preview subscription=model}}
    </div>
  {{/if}}
</div>

{{#if feedPicked}}
  {{auth-status buttonText="Verify Phone Number"}}

  {{#if authentication.isAuthenticated}}
    <div class="field">
      <div class="control">
        <button
           class="button is-medium is-black {{if isLoading 'is-loading'}}"
           {{action 'signUp'}}
           disabled={{isLoading}}>
          Sign Up
        </button>

        <div class="has-text-danger">
          {{#if hasError}}
            {{error}}
          {{/if}}
        </div>
      </div>
    </div>
  {{/if}}
{{/if}}
