<div class="columns">
  <div class="column">
    <h3 class="subtitle">Get texts when your gym posts a new workout</h3>
  </div>
</div>

<div class="columns">
  <div class="column">
    {{feed-search subscription=model}}

    {{#if feedPicked}}
      {{subscription-options subscription=model}}
    {{/if}}
  </div>

  {{#if feedPicked}}
    <div class="column">
      {{sms-preview subscription=model}}
    </div>
  {{/if}}
</div>

{{#if feedPicked}}
  {{auth-status}}

  {{#if authentication.isAuthenticated}}
    <div class="field">
      <div class="control">
        <button
           class="button is-medium is-black {{if isLoading 'is-loading'}}"
           {{action 'signUp'}}
           disabled={{isLoading}}>
          Sign Up
        </button>

        <div class="has-text-danger">
          {{#if hasError}}
            {{error}}
          {{/if}}
        </div>
      </div>
    </div>
  {{/if}}
{{/if}}
