{{auth-modal}}

<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    {{#link-to "subscriptions.new" class="navbar-item"}}
      <h1 class="title has-text-white">{{app-title}}</h1>
    {{/link-to}}

    <div class="navbar-burger" {{action "toggleNav"}}>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="navbar-menu {{ if navIsActive 'is-active'}}" {{action "closeNav"}}>
    <div class="navbar-start">
      {{#link-to "subscriptions.new" class="navbar-item"}}
        Find Your Gym
      {{/link-to}}

      {{#link-to "feeds.new" class="navbar-item"}}
        Add a Gym
      {{/link-to}}

      {{#if authentication.isAdmin}}
        {{#link-to "users" class="navbar-item"}}
          Users
        {{/link-to}}
      {{/if}}

      {{!--  <a class="navbar-item">How It Works</a>  --}}
      {{!--  <a class="navbar-item">Pricing</a>  --}}
    </div>

    <div class="navbar-end">
      {{!--  {{#link-to "auth" class="navbar-item"}}  --}}
        {{!--  Auth Test  --}}
      {{!--  {{/link-to}}  --}}

      <div class="navbar-item">
        {{auth-button}}
      </div>
    </div>
  </div>
</nav>

<div id="flash-messages">
  {{flash-messages}}
</div>

<section class="section has-text-centered-mobile">
  <div class="container">
    <div class="columns">
      <div class="column">
      </div>
    </div>

    {{outlet}}
  </div>
</section>

<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        Have a question, bug report, or feature request?
        <a href="mailto:contact@wodalert.com">Email us</a>.
      </p>

      <p>
        Made with
        <img src="/assets/emoji-weightlifter.png" alt="weightlifting" height="20" width="20">
        by
        <a href="http://justincampbell.me" target="_blank">
          @justincampbell
        </a>
      </p>
    </div>
  </div>
</footer>
